@import url(https://fonts.googleapis.com/css?family=Montserrat|Noto+Sans|Satisfy);

body{
	font-family: "Montserrat", "Noto Sans", Helvetica, sans-serif;
	overflow: hidden;
	width: 100%;
	height: 100%
	margin: 0;
}
header{
	width: 100%;
	height: 12vh;
	background-color: rgb(241, 196, 15); /*red*/
}
h1{
	display: inline;
}
h1 a{
	color: white;
	font-size: 1.2em;
	position: relative;
	top: 25px;
	left: 20px;
}
#note{
	display: none;
}
a{
	text-decoration: none;
	color: black;
}
p{
	text-align: center;
}
main {
	background-color: rgb(218, 223, 225); /*grey*/
}
#content {
	background-color: white;
	height: 78vh;
	overflow: auto;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 1%;
	padding-bottom: 1%;
}
footer{
	background-color: rgb(241, 196, 15);
	height: 7vh;
}
footer section{
	float: left;
	left: 15px;
	top: 15px;
	color: white;
}
footer section i{
	color: rgb(218, 223, 225);
}
footer section, footer a{
	position: relative;
}
footer a{
	top: 13px;
}
label
{
	display: block;
	width: 80px;
	float: left;
}
img{
	width: 200px;
}
a.profile:hover{
	color : rgb(241, 196, 15);
}
input:not([type=color]):not([type=checkbox]){
  display: block;
  margin: 0;
  width: 100%;
  font-size: 18px;
  padding: 10px;
  border: solid 1px rgb(218, 223, 225);
  transition: box-shadow 0.3s, border 0.3s;
  margin-bottom: 15px;
}
input:focus {
  outline: none;
  border: solid 1px rgb(241, 196, 15);
  box-shadow: 0 0 4px 1px rgb(241, 196, 15);
}
input[type=submit]:hover{
	cursor: pointer;
}
.button{
	cursor: pointer;
	color: white;
	background-color: rgb(241, 196, 15);
	padding: 8px;
	border: 2px solid rgb(241, 196, 15);
	transition: all 0.25s;
}
.button:hover{
	border: 2px solid rgb(241, 196, 15);
	color: rgb(241, 196, 15);
	background-color: white;
}
.button i{
	transition: transform 0.5s;
}
.button:hover i{
	display: inline-block;
    transform: rotate(360deg);
}
.button.favorite{
	position: relative;
	top: -10px;
	float: right;
}
h2{
	margin-top: 50px;
	color: grey;
}
#loader img{
	width: 30%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.button.delete{
	margin-top: 10px;
	display: block;
	text-align: center;
}
.button.deleteOne{
	font-size: 1em;
	padding: 2px;
}
.popup{
	background-color: rgb(218, 223, 225);
	width: 350px;
	height: 60px;
	position: absolute;
	left: 45%;
	top: 45%;
	vertical-align: middle;
	color: rgb(241, 196, 15);
	border: 1px solid rgb(218, 223, 225);
}
.popup p{
	vertical-align: middle;
	margin-top: 20px;
}
.popup .icon-cancel-circled{
	float: right;
	padding: 3px;
	cursor: pointer;
	transition: transform 0.25s;
}
.popup .icon-cancel-circled:hover{
	transform: rotate(360deg);
}
textarea{
	width: 100%;
	height: 150px;
}
.navright{
	float: right;
	margin: 10px 10px;
}
#user_pseudo{color: white;}
.hide{display: none;}
.post-it {
	display: inline-block;
	margin: 20px 0 20px 10px;
	background: #fefabc; 
	padding: 15px; 
	font-family: Satisfy, serif; 
	font-size: 15px; 
	color: #000; 
	width: 200px; 
	box-shadow: 0px 4px 6px #333;
	-moz-box-shadow: 0px 4px 6px #333;
	-webkit-box-shadow: 0px 4px 6px #333;
}
#notifs div{
	background-color: lightblue;
	padding: 10px;
}
.post-it i, #notifs .icon-cancel-circled{
	float: right;
	cursor: pointer;
}
.post-it i:hover{
	color: white;
	background-color: black;
}
#notes{
	margin-top: 50px;
}
@media screen and (max-width: 1000px) {
  #content{
  	width: 100%;
  	padding: 0;
  }
}
